---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
	image?: string;
	canonical?: string;
	type?: string;
}

const { title, description, image, canonical, type } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} canonical={canonical} type={type} />
	</head>
	<body class="min-h-screen flex flex-col">
		<Header />
		<main class="flex-1">
			<slot />
		</main>
		<Footer />
	</body>
</html>
